body {
    background: #ffcccb;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 18px; /* Adjusted font size */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 30px;
}

tr:nth-child(even) {
    background-color: #f8a5c2;
}

tr:nth-child(odd) {
    background-color: #ffc3a0;
}

th {
    background-color: #ff8576;
    color: white;
    padding: 10px 20px; /* Adjusted padding */
}

.noBorder {
    border: none !important;
    padding: 10px 20px; /* Adjusted padding */
}

.button-1 {
    background-color: #ff6b6b;
    border-radius: 12px;
    border: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Arial", sans-serif;
    font-size: 16px; /* Adjusted font size */
    font-weight: 600;
    height: 50px; /* Adjusted height */
    line-height: 50px;
    list-style: none;
    margin: 10px; /* Adjusted margin */
    outline: none;
    padding: 10px 16px; /* Adjusted padding */
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
    background-color: #ff4d4d;
}
